<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="aoesoft.actionSet1"
            label="版权信息"
            visible="true">
         <menu
               icon="icons/a.ico"
               id="aoesoft.menu1"
               label="版权"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="content2">
            </groupMarker>
         </menu>
         <action
               class="aoesoft.ui.MyViewAction"
               icon="icons/b.ico"
               id="aoesoft.MyAction"
               label="Open My&amp;View"
               menubarPath="aoesoft.menu1/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="open my ....">
         </action>
         <action
               class="aoesoft.ui.MyViewAction"
               id="aoesoft.action2"
               label="Item2"
               menubarPath="aoesoft.menu1/content2"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         id="aoesoft.ui.MyView"
         name="myview"
         point="org.eclipse.ui.views">
      <category
            id="aoesoft.category1"
            name="smp">
      </category>
      <view
            category="aoesoft.category1"
            class="aoesoft.ui.MyView"
            id="aoesoft.ui.MyView"
            name="name"
            restorable="true">
      </view>
      <view
            class="aoesoft.ui.Now"
            id="aoesoft.ui.Now"
            name="Now">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="aoesoft.asDev"
            label="asDev"
            visible="true">
         <menu
               icon="icons/dev.ico"
               id="aoesoft.menu_dev_top"
               label="开发"
               path="additions">
            <groupMarker
                  name="aoesoft.dev_host">
            </groupMarker>
            <groupMarker
                  name="aoesoft.dev_db">
            </groupMarker>
            <separator
                  name="aoesoft.dev_s1">
            </separator>
            <groupMarker
                  name="aoesoft.dev_tools">
            </groupMarker>
            <groupMarker
                  name="aoesoft.dev_test">
            </groupMarker>
         </menu>
         <action
               class="aoesoft.ui.MyAction"
               id="aoesoft.DevHost"
               label="主机"
               menubarPath="aoesoft.menu_dev_top/aoesoft.dev_host"
               style="push">
         </action>
         <action
               class="aoesoft.ui.MyAction"
               id="aoesoft.devDB"
               label="数据库"
               menubarPath="aoesoft.menu_dev_top/aoesoft.dev_db"
               style="push">
         </action>
         <action
               class="aoesoft.ui.MyAction"
               id="aoesoft.devTools"
               label="工具"
               menubarPath="aoesoft.menu_dev_top/aoesoft.dev_tools"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         id="aoesoft.obj_popup"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="aoesoft.select"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="aoesoft.obj_popup_menu1"
               label="SMP"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
         <action
               class="aoesoft.MyPopupAction"
               enablesFor="+"
               icon="icons/dev.ico"
               id="aoesoft.obj_popup_add"
               label="Add"
               menubarPath="aoesoft.obj_popup_menu1/content">
         </action>
      </objectContribution>
      <viewerContribution
            id="aoesoft.viewerContribution1"
            targetID="org.eclipse.jdt.ui.MembersView">
         <menu
               id="aoesoft.view_menu2"
               label="SmpView"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
         <action
               class="aoesoft.ui.MyViewPopupAction"
               id="aoesoft.action2"
               label="Add"
               menubarPath="aoesoft.view_menu2/content"
               state="true">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="aoesoft.viewContribution2"
            targetID="org.eclipse.ui.console.ConsoleView">
         <menu
               id="aoesoft.menu2"
               label="SmpView"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
         <action
               class="aoesoft.ui.MyViewPopupAction"
               definitionId="aoesoft.cmd.add"
               icon="icons/a.ico"
               id="aoesoft.action2"
               label="&amp;Add"
               menubarPath="aoesoft.menu2/content"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         id="aoesoft.commonds"
         name="smp"
         point="org.eclipse.ui.commands">
      <category
            description="SMP xiangguan"
            id="aoesoft.cmd.category1"
            name="SMP">
      </category>
      <command
            description="Add smp cmd"
            id="aoesoft.cmd.add"
            name="Add">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="aoesoft.cmd.add"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+X">
      </key>
   </extension>

</plugin>
